.pageHeader {
  display: flex;
  width: 100%;
  padding: 20px 30px;
  height: 150px;
  background-color: #00395e;
  justify-content: space-between;
  color: #fff;
  box-sizing: border-box;
  align-items: center;
}

.pageAvatarWrapper {
  display: flex;
  flex: 1;
  align-items: center;
  gap: 10px;
}

.pageAvatar {
  width: 40px;
  height: 40px;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.logoWrapper img {
  width: 80px;
}
.pageNotificationIcons {
  display: flex;
  flex: 1;
  gap: 40px;
  justify-content: flex-end;
  align-items: center;
  font-size: 26px;
}

.transaction p {
  color: #00395e;
}
